
<form action='/checkout' method="POST">
  <h2>Shopping cart</h2>
  <label for="cart">Enter an item: </label><br>
  <input id="item" type="text" name="item" /><br>

 <button type="submit" value="submit" name="Submit"> Submit </button>
</form>
